@tailwind base;

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}

.btn {
  @apply py-2 px-10 lg:mt-20 rounded-3xl mt-16 lg:text-xl lg:px-16 lg:py-3 lg:rounded-full focus:outline-none transition-colors;
}

.socialIcon {
  @apply text-light hover:text-primary duration-300 transform-gpu hover:scale-125 transition-all;
}

ul {
  list-style-type: none !important;
}

@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

body {
  background-color: #171717;
  color: #ededed;
  font-family: "Work Sans", sans-serif;
}

.font-roboto {
  font-family: 'Roboto Mono', monospace;
}

.hero {
  height: calc(100vh - 92px);
}

.navItem {
  position: relative;
}

.navItem:hover::before {
  content: "";
  position: absolute;
  top: 0;
  background-color: #da0037;
  height: 100%;
  animation: overHover 1s ease-in-out;
  -webkit-animation: overHover 1s ease-in-out;
  z-index: -1;
  right: -9px;
  width: 4px;
}

@keyframes overHover {
  0% {
    left: -10px;
    width: 4px;
  }

  50% {
    width: 130%;
  }

  100% {
    right: -10px;
    width: 4px;
  }
}

.active::before {
  content: "";
  position: absolute;
  top: 0;
  background-color: #da0037;
  height: 100%;
  z-index: -1;
  left: -10px;
  width: 4px;
}

.active:hover {
  color: #fff;
  transition: color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -ms-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
}

.headerTitle::after {
  position: absolute;
  background-color: #da0037;
  content: "";
  z-index: -1;
  left: 0;
  top: auto;
  bottom: 0;
  right: auto;
  width: 7%;
  height: 5px;
}

.headerTitle::before {
  position: absolute;
  content: "About Me";
  z-index: -1;
  font-size: 190px;
  bottom: auto;
  right: auto;
  line-height: 40px;
  font-weight: 900;
  color: #1e1e1e;
  text-transform: uppercase;
  left: -20px;
  top: 0px;
}

.innerCircle {
  width: 450px;
  height: 450px;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(237, 237, 237, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: 10s linear 0s infinite normal none running wheel;
  -webkit-animation: 10s linear 0s infinite normal none running wheel;
}

@keyframes wheel {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
  100% {
    transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    -o-transform: rotate(1turn);
}
}

.outerCircle {
  width: 550px;
  height: 550px;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(237, 237, 237, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 20s linear 0s infinite normal none running wheel2;
}

@keyframes wheel2 {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
  100% {
    transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    -o-transform: rotate(1turn);
}
}

.planetCircle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #fff;
  box-shadow: rgba(43, 43, 43, 0.3) 0px 0px 10px 1px;
  border-radius: 50%;
  animation: 10s linear 0s infinite normal none running planets;
  -webkit-animation: 10s linear 0s infinite normal none running planets;
}

@keyframes planets {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-1turn);
  }
}

.myIMage {
  animation: twiddle 5s linear infinite alternate;
  -webkit-animation: twiddle 5s linear infinite alternate;
}

@keyframes twiddle {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
