@tailwind base;

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}

.socialIcon {
  @apply text-light hover:text-primary duration-300 transform-gpu hover:scale-125 transition-all;
}

@tailwind components;
@tailwind utilities;

body {
  background-color: #171717;
  color: #ededed;
  font-family: "Work Sans", sans-serif;
}

.hero {
  height: calc(100vh - 92px);
}

.navItem {
  position: relative;
}

.navItem:hover::before {
  content: "";
  position: absolute;
  top: 0;
  background-color: #da0037;
  height: 100%;
  animation: overHover 1s ease-in-out;
  -webkit-animation: overHover 1s ease-in-out;
  z-index: -1;
  right: -9px;
  width: 4px;
}

@keyframes overHover {
  0% {
    left: -10px;
    width: 4px;
  }

  50% {
    width: 130%;
  }

  100% {
    right: -10px;
    width: 4px;
  }
}

.active::before {
  content: "";
  position: absolute;
  top: 0;
  background-color: #da0037;
  height: 100%;
  z-index: -1;
  left: -10px;
  width: 4px;
}

.active:hover {
  color: #fff;
  transition:color .5s ease-in-out ;
  -webkit-transition:color .5s ease-in-out ;
  -moz-transition:color .5s ease-in-out ;
  -ms-transition:color .5s ease-in-out ;
  -o-transition:color .5s ease-in-out ;
}

/* .withBeforeText::before {
  content: "FrontEnd";
    position: absolute;
    top: 0;
    text-align: center;
    left: 0;
    font-weight: 900;
    opacity: .1;
    font-size: 10rem;
    line-height: 1.1;
    font-family: inherit;
    overflow-wrap: anywhere;
    letter-spacing: 10px;
    color: #313131;
} */
