@tailwind base;

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}

.btn {
  @apply px-10 py-2 transition-colors rounded-3xl lg:text-xl lg:px-16 lg:py-3 lg:rounded-full focus:outline-none;
}

.socialIcon {
  @apply transition-all duration-300 text-light hover:text-primary transform-gpu hover:scale-125;
}

@tailwind components;
@tailwind utilities;

:root {
  --primaryColor: #da0037;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #171717;
  color: #ededed;
  font-family: "Work Sans", sans-serif;
  overflow-x: clip;
}

ul {
  list-style-type: none !important;
}

footer {
  background-color: #101010;
}

.font-roboto {
  font-family: "Roboto Mono", monospace;
}

.hero {
  height: calc(100vh - 92px);
}

.navItem {
  position: relative;
}

.navBar {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.navBarDecendant {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.navScrolled {
  background-color: #101010;
  top: 0;
  position: sticky;
  z-index: 20;
}

.navScrolled .navBarDecendant {
  box-shadow: 0px 0px 20px 5px rgb(0 0 0 / 50%);
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.IWithSVG svg {
  transform: translate(-8%, 0px) !important;
  -webkit-transform: translate(-8%, 0px) !important;
  -moz-transform: translate(-8%, 0px) !important;
  -ms-transform: translate(-8%, 0px) !important;
  -o-transform: translate(-8%, 0px) !important;
}

.navItem:hover::before {
  content: "";
  position: absolute;
  top: 0;
  background-color: var(--primaryColor);
  height: 100%;
  animation: overHover 1s ease-in-out;
  -webkit-animation: overHover 1s ease-in-out;
  z-index: -1;
  right: -9px;
  width: 4px;
}

@keyframes overHover {
  0% {
    left: -10px;
    width: 4px;
  }

  50% {
    width: 130%;
  }

  100% {
    right: -10px;
    width: 4px;
  }
}

.active::before {
  content: "";
  position: absolute;
  top: 0;
  background-color: var(--primaryColor);
  height: 100%;
  z-index: -1;
  left: -10px;
  width: 4px;
}

.active:hover {
  color: #fff;
  transition: color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -ms-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
}

.headerTitle::after {
  position: absolute;
  background-color: var(--primaryColor);
  content: "";
  z-index: -1;
  left: 0;
  top: auto;
  bottom: 0;
  right: auto;
  width: 7%;
  height: 5px;
}

.aboutTitle::before {
  content: "About Me";
}

.skillTitle::before {
  content: "Skills";
}

.projectTitle::before {
  content: "Projects";
}

.contactTitle::before {
  content: "Contact";
}

.headerTitle::before {
  position: absolute;
  z-index: -1;
  font-size: 190px;
  bottom: auto;
  right: auto;
  line-height: 40px;
  font-weight: 900;
  color: #1e1e1e;
  text-transform: uppercase;
  left: -20px;
  top: 0px;
}

.innerCircle {
  width: 450px;
  height: 450px;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(237, 237, 237, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: 10s linear 0s infinite normal none running wheel;
  -webkit-animation: 10s linear 0s infinite normal none running wheel;
}

@keyframes wheel {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    -o-transform: rotate(1turn);
  }
}

.outerCircle {
  width: 550px;
  height: 550px;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(237, 237, 237, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 20s linear 0s infinite normal none running wheel2;
}

@keyframes wheel2 {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    -o-transform: rotate(1turn);
  }
}

.planetCircle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #fff;
  box-shadow: rgba(43, 43, 43, 0.3) 0px 0px 10px 1px;
  border-radius: 50%;
  animation: 10s linear 0s infinite normal none running planets;
  -webkit-animation: 10s linear 0s infinite normal none running planets;
}

@keyframes planets {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-1turn);
  }
}

.myIMage {
  animation: twiddle 5s linear infinite alternate;
  -webkit-animation: twiddle 5s linear infinite alternate;
}

@keyframes twiddle {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

.mobileActive::before {
  content: "";
  position: absolute;
  background-color: var(--primaryColor);
  top: 0;
  left: -8px;
  height: 100%;
  width: 4px;
}

.leading-loose {
  line-height: 2 !important;
}

.textInput:hover::before {
  content: "";
  left: 0;
  bottom: 0;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #da0037;
  animation: widthIncrease 1s ease-in-out;
  -webkit-animation: widthIncrease 1s ease-in-out;
}

.textInputArea:hover::before {
  bottom: 7px;
}

@keyframes widthIncrease {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.project {
  display: grid;
  margin-bottom: 4rem;
}
.project-img {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  height: 19rem;
  z-index: 1;
}
.project-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, var(--primaryColor), #222);
  opacity: 0.85;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.project:hover .project-img::after {
  opacity: 0;
}
.project-info {
  background: #fff;
  padding: 2rem 2rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.project-number {
  display: inline-block;
  font-size: 1.25rem;
  color: var(--primaryColor);
  margin-bottom: 0.75rem;
}
.project-info h3 {
  font-weight: bold;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}
.project-desc {
  word-spacing: 15px;
  color: hsl(346, 35%, 30%);
}
.project-stack {
  margin-bottom: 1rem;
}
.project-stack span {
  display: inline-block;
  background: hsl(347, 32%, 89%);
  color: hsl(339, 22%, 49%);
  margin-right: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}
.about-stack span {
  margin-top: 0.5rem;
}
.project-icon {
  color: var(--primaryColor);
  font-size: 1.25rem;
  margin-right: 0.5rem;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.project-icon:hover {
  color: #b8002e;
}
@media screen and (min-width: 576px) {
  .project-img {
    height: 19rem;
  }
}
@media screen and (min-width: 768px) {
  .project-img {
    height: 22rem;
  }
}
@media screen and (min-width: 992px) {
  .project {
    grid-template-columns: repeat(11, 1fr);
    align-items: center;
  }
  .project-img {
    grid-column: 1 / span 8;
    grid-row: 1 / 1;
    height: 30rem;
    border-radius: 0.25rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
  }
  .project-info {
    border-radius: 0.25rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 1;
    grid-column: 5 /12;
    grid-row: 1 / 1;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
  }
  .project:nth-of-type(even) .project-img {
    grid-column: 5 / -1;
    grid-row: 1 / 1;
  }
  .project:nth-of-type(even) .project-info {
    grid-column: 2 / span 7;
    grid-row: 1 / 1;
    text-align: left;
  }
}

@media screen and (max-width: 1279px) {
  .headerTitle::after {
    width: 10%;
  }

  .headerTitle::before {
    font-size: 58px;
    top: -10px;
  }

  .innerCircle {
    width: 300px;
    height: 300px;
  }

  .outerCircle {
    width: 370px;
    height: 370px;
  }

  .planetCircle {
    width: 30px;
    height: 30px;
  }
}
